<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LionTaskManagementApp</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/relativeTime.js"></script> <!-- Include the relative time JavaScript file -->
    <script src="~/js/signalRNotifications.js"></script> <!-- Include the SignalR notifications JavaScript file -->

    <link rel="stylesheet" href="~/css/styles.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
</head>
<body>
    <header>
        @if (ViewContext.RouteData.Values["Controller"]?.ToString() == "Home" 
            && ViewContext.RouteData.Values["Action"]?.ToString() == "Index" 
            && !User.Identity.IsAuthenticated) 
        {
            <div class="masthead" style="background-image: url('@Url.Content("~/img/assets/img/bg-masthead.png")'); 
            background-size: cover; 
            -webkit-backdrop-filter: blur(5px); 
            backdrop-filter: blur(5px); 
            position: relative;">
                <div class="container h-100">
                    <div class="row h-100 align-items-center justify-content-center text-center">
                        <div class="col-lg-10 align-self-end">
                            <h1 class="text-uppercase text-white font-weight-bold">Welcome</h1>
                            <hr class="divider my-4" />
                        </div>
                        <div class="col-lg-8 align-self-baseline">
                            <p class="text-white-75 font-weight-light mb-5">Vertical Printer Can Be Hired Anywhere</p>
                            <a class="btn btn-primary btn-xl"href="/Identity/Account/Register">Register Now</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </header>

    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">LionTaskManagementApp</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                </ul>
                  <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        <div id="notification-message" class="alert alert-info" style="display:none;"></div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div id="notification-message" class="alert alert-info" style="display:none;"></div>

    <footer class="border-top footer text-muted py-3">
        <div class="container text-center">
            &copy; 2024 - LionTaskManagementApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script>
        $(function () {
            var connection = new signalR.HubConnectionBuilder()
                .withUrl("/NotificationHubService") // Replace with your hub URL
                .build();

            connection.on("NotificationMessage", function (message) {
                var currentPath = window.location.pathname.toLowerCase();
                $("#notification-message").text(message).show();
            });

            connection.start().then(function () {
                console.log("SignalR started");
            }).catch(function (err) {
                return console.error(err.toString());
            });
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>