@using LionTaskManagementApp.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<TaskUser> SignInManager
@inject UserManager<TaskUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>        
    </li>

    @* <li class="nav-item dropdown">
            <a class="nav-link text-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLogin" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Login
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLogin">
                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/OwnerLogin">Task Owner Login</a>
                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/ContractorLogin">Contractor Login</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link text-dark dropdown-toggle" href="#" role="button" id="dropdownMenuRegister" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Register
            </a>

            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuRegister">
                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/OwnerRegister">Task Owner Register</a>
                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/ContractorRegister">Contractor Register</a>
            </div>
        </li> *@
}
</ul>
