bin/
obj/
.fake
/.vs/lion-task-manager/FileContentIndex
/.vs/lion-task-manager/v17
/.vs/lion-task-manager/DesignTimeBuild
/.vs/lion-task-manager-aspnet-mvc/v17
/.vs/lion-task-manager/config
/.vs
/.config/dotnet-tools.json
